.event-list__add {
  background-color: var(--blue-color);
  color: var(--traffic-white-color);
  font-size: 2rem;
}

.event-list__add:hover {
  background-color: #17a0ce;
  cursor: pointer;
}

.event-list__delete-input {
  background-color: var(--vermillion-red);
}

.event-list__delete-input:hover {
  background-color: #ed6b6b;
  cursor: pointer;
}
